<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PEI Open Data Visualizations</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='imgs/favicon.ico') }}"/>
  </head>
  <body>
    <div id="viz_list">
      <ul>
        <li><a href='/cr'>21-07-31 - OD0032 PEI Consolidated Revenues</a></li>
        <ul>
          <li><a href='#'>Dataset Found Here</a></li>
        </ul>
        <li>21-07-31 - N/A</li>
        <ul>
          <li>Dataset Found Here</li>
        </ul>
      </ul>
    </div>
  </body>
</html>
